/* styles.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header, footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

header a, footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

.title {

    font-size: 12px;
    text-align: center;
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero .responsive-image {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}



.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1 {
    margin: 20px 0;
}

ul.song-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

li.song-item {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li.song-item:hover {
    background-color: #f0f0f0;
}

#details {
    margin: 20px 0;
}

#songTitle {
    font-size: 15px;
    color: #333;
text-align: center;
 
  text-transform: uppercase;
  background-color: grey;
  color: #663399;
  text-decoration: underline;
  font-weight: bold;

}

#songSinger {
    font-size: 18px;
    color: #666;
    text-align: center;
  color:#663399 ;
  
  text-transform: uppercase;
  
  background-color: grey;
  font-style: italic;
  font-weight: bold;

}

#songLyrics {
    font-size: 16px;
    color: #444;
}

/* Albumlist */
/* Albumlist */
/* Albumlist */
/* Albumlist */

.title {

    font-size: 12px;
}


.albumlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
    
    

}

.albumlist li {
    
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size:15px;
    padding: 10px;
    display: block; /* Ensures the text appears on a new line */
   color: black; /* Subtext color */
    margin-top: -10px;/* Negative margin to pull the element up */

}

.albumlist li a:hover {
    background-color: #f0f0f0;
}


/* Scalelist */
/* Scalelist */
/* Scalelist */

.scale-list {

     display: grid;
    grid-template-columns: repeat(2, 1fr)
    
    

}

.scale-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: block; /* Ensures the text appears on a new line */
   color: black; /* Subtext color */
  font-size: 12px; /* Slightly smaller font size */
  margin-top: -10px;/* Negative margin to pull the element up */

}

.scale-list li a:hover {
    background-color: #f0f0f0;
}

.nav-link {

/*border: 2px solid black;*/
padding: 10px;
margin-bottom: 10px;/*add space between list items*/

}
.subtext {
  display: block; /* Ensures the text appears on a new line */
  color: #663399; /* Subtext color */
  font-size: 8px; /* Slightly smaller font size */
  margin-top: 5px;/*add some space between the main text and the sub text*/
  font-style: italic;
  margin-top: -5px;/* Negative margin to pull the element up */
    margin-left:10px;
}


@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    header, footer {
        padding: 15px;
    }
}
